.hero {
  background-color: #fff;
  padding: 4rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hero-content {
  text-align: left;
  width: 40%;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #032c5b; /* MLB Primary Blue */
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.join-now {
  background-color: #d11a2b; /* MLB Primary Red */
  color: white;
  border: none;
  padding: 1rem 2rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
}

.hero-image {
  width: 40%;
  height: 300px; /* Adjust as needed */
  background-color: #ddd; /* Placeholder */
}
