.how-it-works {
  background-color: #fff;
  padding: 3rem 0;
}

.how-it-works h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #032c5b; /* MLB Primary Blue */
}

.steps {
  display: flex;
  justify-content: space-around;
  padding: 0 2rem;
}

.step {
  text-align: center;
  width: 30%;
}

.step h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: #032c5b; /* MLB Primary Blue */
}

.step p {
  font-size: 1.1rem;
}
