.footer {
  background-color: #032c54; /* MLB navy blue */
  color: white;
  padding: 20px;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}
